.event-card {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 400px;
  justify-content: space-evenly;
  background-color: #0f203f;
  padding: 0.5rem;
  border-radius: 20px;
  align-items: center;
  box-shadow: 2px 2px 3px #0f0f0f;
  cursor: pointer;

}

.event-card-archived-color {
  background-color: #363d49;
}

.event-name {
  font-size: 3rem;
  display: block;
}

.event-icon {
  font-size: 128px;
  display: block;
}

.icon-archive,
.icon-delete {
  font-size: 2.5rem;
  margin-right: 15px;
  cursor: pointer;
}

.event-card-icons {
  align-self: self-end;
}
