.events {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  color: #ffffff;
}

@media (max-width: 768px) {
  .events {
	flex-direction: column;
	align-items: center;
  }
}