h2 {
  margin: 0;
  padding: 0;
}

.event-detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  margin: 20px 0;
}

.event-detail-icons {
  display: flex;
  gap: 20px;
}

.event-detail-icon {
  font-size: 4rem;
  cursor: pointer;
}

.icon-plus {
  margin-left: 10px;
}

.event-info {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

h2 {
  font-size: 6rem;
}

.items-and-pie {
  display: flex;
  flex-direction: row;
}

@media (max-width: 768px) {
  .items-and-pie {
    flex-direction: column;
	align-items: center;
  }
}

@media (max-width: 1024px) {
  .items-and-pie {
    flex-direction: column;
	align-items: center;
  }
  .event-detail {
    flex-direction: column;
	height: 20vh;
	justify-content: flex-start;
}
}
